<%- include('../views/header.ejs') %>

    <div class="container">
        <div class="grid">
            <div class="grid__row body_content">
                <div class="grid__column-2">
                    <nav class="agency_navbar">
                        <h1 class="agency_heading">Tài khoản</h1>
                        <div class="agency_group">
                            <h3 class="agency_group-header">Loại tài khoản</h3>
                            <ul class="category-list">

                                <li class="category-item">
                                    <a href="/accountAdmin" class="category-item_link">
                                                    Admin
                                                </a>
                                </li>
                                <li class="category-item">
                                    <a href="/accountNV" class="category-item_link">
                                                    Nhân viên
                                                </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="grid__column-10">
                    <div class="search">
                        <form action="/searchAccount" method="post">
                            <div class="search-wrap">
                                <input type="text" class="search-input" name="searchAccount" placeholder="Tìm theo Email">
                                <button class="reset-search-btn" type="reset">
                                            <i class="search-btn-icon-refresh fas fa-times"></i>
                                        </button>
                                <button class="search-btn" type="submit">
                                        <i class="search-btn-icon fas fa-search"></i>
                                    </button>
                            </div>
                        </form>
                        <button class="btn btn--primary btn-add">Thêm mới</button>

                    </div>
                    <div class="grid__row">
                        <div class="grid__column-10-1">
                            <table class="table_container">
                                <thead>
                                    <tr class="table-container_header">
                                        <th class="table-container_header-item code-account">Mã tài khoản</th>
                                        <th class="table-container_header-item name-account">Tên tài khoản</th>
                                        <th class="table-container_header-item email-account">Email</th>
                                        <th class="table-container_header-item phone-account">Điện thoại</th>
                                        <th class="table-container_header-item address-account">Địa chỉ</th>
                                        <th class="table-container_header-item sex-account">Giới tính</th>
                                        <th class="table-container_header-item date-account">Ngày vào làm</th>
                                        <th class="table-container_header-item salary-account">Lương</th>
                                        <th class="table-container_header-item edit-account"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i = 0; i < acc.length; i++ ) { %>
                                        <tr class="table-container_body table-container_body_between">
                                            <td class="table-container_body-item">
                                                <%= acc[i]._id %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= acc[i].name %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= acc[i].email %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= acc[i].phone_account %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= acc[i].address_account %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= acc[i].sexual %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= acc[i].date %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= acc[i].salary %>
                                            </td>
                                            <td class="table-container_body-edit">
                                                <button data-id="<%= acc[i]._id %>" class="edit-account-btn">
                                                                Sửa 
                                                            </button>
                                                <button class="delete-account-btn">
                                                                <a href="/taikhoan/xoa-taikhoan/<%= acc[i]._id %>" class="editPro delete-product">Xoá</a>
                                                            </button>
                                            </td>
                                        </tr>
                                        <% } %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="alert">
                        <% if (errors){ %>
                            <% errors.forEach(function(e){ %>
                                <div class="alert_errors">
                                    <%= e.msg %>
                                </div>
                                <%});%>
                                    <% } %>

                                        <% if(message) {%>
                                            <div class="alert_success">
                                                <%= message %>
                                            </div>
                                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal_add-account">
        <div class="modal_overlay"></div>
        <div class="modal_body">
            <form action="/taikhoan/them-taikhoan" method="post">
                <div class="auth-form" id="auth-add-account">
                    <div class="auth-form_header">
                        <h1 class="auth-form_heading">Thêm Tài khoản</h1>
                    </div>
                    <div class="auth-form_body">
                        <div class="auth-form_body-left">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Tên Tài khoản</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input auth_account-name" name="name_account" placeholder="Tên Tài khoản" required>
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Email</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input auth_account_email" name="email" placeholder="Email" required>
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Mật khẩu</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input auth_account_email" name="password" id="passwordAccount" placeholder="Password" required>
                            </div>

                            <div class="auth-form_group">
                                <div class="wrap-select">
                                    <label for="auth-form_group" class="auth-form_info">Loại tài khoản</label>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <select class="auth_account-group" name="category_account" required>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Nhân viên">Nhân viên</option>
                                            </select>
                                </div>
                                <div class="wrap-select">
                                    <label for="auth_sex" class="auth-form_info">Giới tính</label>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <select class="authGroup" name="sexual" required>
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                            </select>
                                </div>

                            </div>


                        </div>
                        <div class="auth-form_body-right">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Số điện thoại</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="number" class="auth-form_input auth_account_number" name="phone_account" placeholder="" required>
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Địa chỉ</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input auth_account_address" name="address_account" placeholder="" required>
                            </div>
                            <div class="auth-form_group">
                                <label for="auth_date" class="auth-form_info">Ngày vào làm</label>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="date" class="auth-form_input auth_account_date" name="dateBegin" placeholder="1-12-2000" required>
                            </div>
                            <div class="auth-form_group">
                                <label for="auth_salary" class="auth-form_info">Lương</label>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="number" class="auth-form_input auth_account_salary" placeholder="10000" name="salary" required>
                            </div>
                        </div>
                    </div>

                    <div class="auth-form_controls">
                        <button class="btn btn-account-cancel ">Trở lại</button>
                        <button class="btn btn--primary">Đồng ý </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal modal_edit-account">
        <div class="modal_overlay"></div>
        <div class="modal_body">
            <form action="" id="form-edit-account" method="post">
                <div class="auth-form" id="auth-edit-account">
                    <div class="auth-form_header">
                        <h1 class="auth-form_heading">Sửa Tài khoản</h1>
                    </div>
                    <div class="auth-form_body">
                        <div class="auth-form_body-left">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Tên Tài khoản</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input auth_account-name" name="name_account" id="nameAccount" placeholder="Tên Tài khoản" required>
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Email</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input auth_account_email" name="email" id="emailAccount" placeholder="Email" required>
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Mật khẩu</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input auth_account_pass" name="password" id="passAccount" placeholder="Password" required>
                            </div>

                            <div class="auth-form_group">
                                <div class="wrap-select">
                                    <label class="auth-form_info">Loại tài khoản</label>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <select class="authGroup" name="category_account" id="cateAccount" required>
                                                    <option value="Admin">Admin</option>
                                                    <option value="Nhân viên">Nhân viên</option>
                                            </select>
                                </div>

                                <div class="wrap-select">
                                    <label class="auth-form_info">Giới tính</label>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <select class="authGroup" name="sexual" id="sexual" required>
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                            </select>
                                </div>

                            </div>
                        </div>
                        <div class="auth-form_body-right">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Số điện thoại</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="number" class="auth-form_input auth_account_number" name="phone_account" id="phoneNumber" placeholder="" required>
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Địa chỉ</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input auth_account_address" name="address_account" id="addressAccount" placeholder="" required>
                            </div>
                            <div class="auth-form_group">
                                <label for="auth_date" class="auth-form_info">Ngày vào làm</label>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="date" class="auth-form_input auth_account_date" name="dateBegin" id="dateBegin" placeholder="1-12-2000" required>
                            </div>
                            <div class="auth-form_group">
                                <label for="auth_salary" class="auth-form_info">Lương</label>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="number" class="auth-form_input auth_account_salary" placeholder="" id="salary" name="salary" required>
                            </div>
                        </div>
                    </div>


                    <div class="auth-form_controls">
                        <button class="btn btn-account-cancel">Trở lại</button>
                        <button class="btn btn--primary">Đồng ý </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    </main>
    <script src="../resource/js/account.js"></script>
    </body>
    <script>
        $(document).ready(() => {
            $('#account').css('background-color', '#0078b6');
        })
    </script>

    </html>