<!DOCTYPE html>
<html lang="en">
<!-- head -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agency Management</title>
    <link rel="stylesheet" href="../resource/css/main.css">
    <link rel="stylesheet" href="../resource/css/base.css">
    <link rel="stylesheet" href="../resource/font/fontawesome-free-5.12.1-web/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<!-- Body -->

<body>
    <main>
        <!-- header-->
        <header class="header">
            <div class="grid">
                <div class="header_container-1">
                    <!--place-->
                    <div class="header_brand">
                        <h1 class="header_brand-agency">Agency</h1>
                        <h1 class="header_brand-company">Company</h1>
                    </div>
                    <div class="header_address">
                        <span>Địa chỉ: KTX khu B, Đại học quốc gia TP HCM</span>
                    </div>
                     <div class="header_user">
                            <i class="header_user-icon header_user-icon-separate">
                                <img src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.0-9/66215009_1250396935121477_8504600403646611456_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=cWVO-OfII8IAX9Vny1e&_nc_ht=scontent.fsgn5-6.fna&oh=06fd167ccdf34a923e8ee04a3f4e7ca8&oe=5EFCE24D" alt="Avatar" class="header_avatar">
                                <span class="header_user-name">
                                    thanhlenguyen
                                </span>
                            </i>

                            <div class="user_drop">
                                <li class="user_drop-item"> <i class="fas fa-user user_drop-icon"></i> Thông tin tài khoản</li>
                                <li class="user_drop-item" ><a href="/" style="color: #616060;"><i class="fas fa-sign-out-alt user_drop-icon"></i> Đăng xuất</a> </li>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="header_container-2">
                    <!-- header container 2-->
                    <nav class="header_navbar">
                        <ul class="header_navbar-list">
                            <li class="header_navbar-item">
                                <div class="header_container-item">
                                    <a href="/dashboard" class="header__navbar-item-link">
                                        <i class="far fa-eye"></i> Tổng quan
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item">
                                <div class="header_container-item">
                                    <a href="/hanghoa" class="header__navbar-item-link">
                                        <i class="fas fa-cube"></i> Hàng hoá
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item header_navbar-item-select">
                                <div class="header_container-item">
                                    <a href="/daily" class="header__navbar-item-link">
                                        <i class="fas fa-store-alt"></i> Đại lí
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item">
                                <div class="header_container-item">
                                    <a href="/account" class="header__navbar-item-link">
                                        <i class="fas fa-user"></i> Tài khoản
                                    </a>
                                </div>
                            </li>
                            <li class="header_navbar-item">
                                <div class="header_container-item">
                                    <a href="/baocao" class="header__navbar-item-link">
                                        <i class="fas fa-chart-line" style="font-size: 18px;"></i> Báo cáo
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="header_container">               
                </div>
            </div>
        </header>
        <div class="container">
            <div class="grid">
                <div class="grid__row body_content">
                    <div class="grid__column-2">
                        <nav class="agency_navbar">
                            <h1 class="agency_heading">ĐẠI LÝ</h1>
                            <div class="agency_group">
                                <h3 class="agency_group-header">Nhóm Đại lí</h3>
                                <label for="agency_group-lis" class="agency_group-label">Chọn nhóm:</label>
                                <input list="agency_group-lis" name="agency_datalist" class="agency_input">
                                <datalist class="agency_group-list" id="agency_group-lis">
                                        <option value="Nhóm 1"></option>
                                        <option value="Nhóm 2"></option>
                                        <option value="Nhóm 3"></option>
                                </datalist>


                                <label for="agency_group-place" class="agency_group-label">Khu vực:</label>
                                <input list="agency_group-place" name="agency_datalist" class="agency_input agency_input-group">
                                <datalist class="agency_group-list" id="agency_group-place">
                                        <option value="Quận 1"></option>
                                        <option value="Quận 2"></option>
                                        <option value="Quận 3"></option>
                                </datalist>
                                <button class="confirm_address">
                                    lọc
                                </button>
                            </div>

                        </nav>
                    </div>
                    <div class="grid__column-10">
                        <div class="search">
                            <div class="search-wrap">
                                <input type="text" class="search-input" name="searchAgencyByID" placeholder="Tìm tên, mã Đại lý">
                                <button class="search-btn">
                                        <i class="search-btn-icon fas fa-search"></i>
                                    </button>
                            </div>
                            <button class="btn btn--primary btn-add">Thêm mới</button>
                        </div>
                        <div class="grid__row">
                            <div class="grid__column-10-1">
                                <table class="table_container">
                                    <thead>
                                        <tr class="table-container_header">
                                            <th class="table-container_header-item code-agency">Mã Đại lý</th>
                                            <th class="table-container_header-item name-agency">Tên Đại lý</th>
                                            <th class="table-container_header-item phone-agency">Điện thoại</th>
                                            <th class="table-container_header-item district-agency">Quận</th>
                                            <th class="table-container_header-item group-agency">Nhóm Đại lý</th>
                                            <th class="table-container_header-item address-agency">Địa chỉ</th>
                                            <th class="table-container_header-item date-agency">Ngày nhận</th>
                                            <th class="table-container_header-item debt-agency">Công nợ</th>
                                            <th class="table-container_header-item edit-agency"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < agency.length; i++){ %>
                                            <tr class="table-container_body table-container_body_between">
                                                <td class="table-container_body-item">
                                                    <%= agency[i].id_agency %>
                                                </td>
                                                <td class="table-container_body-item">
                                                    <%= agency[i].name_agency %>
                                                </td>
                                                <td class="table-container_body-item">
                                                    <%= agency[i].phone_agency %>
                                                </td>
                                                <td class="table-container_body-item">
                                                    <%= agency[i].area_agency %>
                                                </td>
                                                <td class="table-container_body-item">
                                                    <%= agency[i].group_agency %>
                                                </td>
                                                <td class="table-container_body-item">
                                                    <%= agency[i].address_agency %>
                                                </td>
                                                <td class="table-container_body-item">
                                                    <%= agency[i].date_agency %>
                                                </td>
                                                <td class="table-container_body-item">
                                                    <%= agency[i].debt_agency %>
                                                </td>
                                                <td class="table-container_body-edit">
                                                    <button class="edit-product-btn">
                                                            <a dataid="/daily/sua-daily/ <%= agency[i]._id %>" class="editPro edit-product">Sửa</a> 
                                                        </button>
                                                    <button class="delete-product-btn">
                                                            <a href="/daily/xoa-daily/ <%= agency[i]._id %>" class="editPro delete-product">Xoá</a>
                                                        </button>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal modal_add-agency">
            <div class="modal_overlay"></div>
            <div class="modal_body">
                <form action="/daily/them-daily" method="post">
                    <div class="auth-form">
                        <div class="auth-form_header">
                            <h1 class="auth-form_heading">Thêm Đại Lý</h1>
                        </div>
                        <div class="auth-form_body">
                            <div class="auth-form_body-left">
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Mã Đại lý</span>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <input type="number" class="auth-form_input" id="auth_agency_code" name="id_agency" placeholder="Mã Đại lý" required>
                                </div>
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Tên Đại lý</span>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <input type="text" class="auth-form_input" id="auth_agency-name" name="name_agency" placeholder="Tên Đại lý" required>
                                </div>

                                <div class="auth_agency_selection">
                                    <div class="auth-form_group">
                                        <label for="auth-form_group" class="auth-form_info">Nhóm</label>
                                        <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                        <select name="authGroup" class="auth_agency-group" name="group_agency" id="auth_group" required>
                                        <option value="nhom1">Nhóm 1</option>
                                        <option value="nhom2">Nhóm 2</option>
                                        <option value="nhom3">Nhóm 3</option>
                                    </select>
                                    </div>
                                    <div class="auth-form_group">
                                        <label for="auth_district" class="auth-form_info">Khu vực</label>
                                        <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                        <select class="auth_agency-district" name="area_agency" id="auth_district" required>
                                        <option value="quan1">Quận 1</option>
                                        <option value="quan2">Quận 2</option>
                                        <option value="quan3">Quận 3</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="auth-form_body-right">
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Số điện thoại</span>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <input type="number" class="auth-form_input auth_agency_number" name="phone_agency" placeholder="" required>
                                </div>
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Địa chỉ</span>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <input type="text" class="auth-form_input" id="auth_agency_adress" name="address_agency" placeholder="" required>
                                </div>
                                <div class="auth-form_group">
                                    <label for="auth_date" class="auth-form_info">Ngày tiếp nhận</label>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <input type="date" class="auth-form_input auth_agency_date" name="date-agency" placeholder="1/12/2000" id="auth_date" required>
                                </div>
                            </div>
                        </div>

                        <div class="auth-form_controls">
                            <button class="btn btn-agency-cancel">Trở lại</button>
                            <button class="btn btn--primary">Đồng ý </button>
                        </div>
                    </div>
                </form>
                <form action="" method="post">
                    <div class="auth-form">
                        <div class="auth-form_header">
                            <h1 class="auth-form_heading">Sửa Đại Lý</h1>
                        </div>
                        <div class="auth-form_body">
                            <div class="auth-form_body-left">
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Tên Đại lý</span>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <input type="text" class="auth-form_input auth_agency-name" placeholder="Tên Đại lý" required>
                                </div>
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Mã Đại lý</span>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <input type="number" class="auth-form_input auth_agency_code" placeholder="Mã Đại lý" required>
                                </div>
                                <div class="auth_agency_selection">
                                    <div class="auth-form_group">
                                        <label for="auth-form_group" class="auth-form_info">Nhóm</label>
                                        <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                        <select name="authGroup" class="auth_agency-group" id="" required>
                                        <option value="nhom1">Nhóm 1</option>
                                        <option value="nhom2">Nhóm 2</option>
                                        <option value="nhom3">Nhóm 3</option>
                                    </select>
                                    </div>
                                    <div class="auth-form_group">
                                        <label for="auth_district" class="auth-form_info">Khu vực</label>
                                        <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                        <select class="auth_agency-district" name="authDistrict" id="" required>
                                        <option value="quan1">Quận 1</option>
                                        <option value="quan2">Quận 2</option>
                                        <option value="quan3">Quận 3</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="auth-form_body-right">
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Số điện thoại</span>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <input type="number" class="auth-form_input auth_agency_number" placeholder="" required>
                                </div>
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Địa chỉ</span>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <input type="text" class="auth-form_input auth_agency_adress" placeholder="" required>
                                </div>
                                <div class="auth-form_group">
                                    <label for="auth_date" class="auth-form_info">Ngày tiếp nhận</label>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <input type="date" class="auth-form_input auth_agency_date" placeholder="01/12/2000" id="" required>
                                </div>
                            </div>
                        </div>

<<<<<<< HEAD
                        <div class="auth-form_controls">
                            <button class="btn btn-agency-cancel">Trở lại</button>
                            <button class="btn btn--primary">Đồng ý</button>
                        </div>
=======
                    <div class="auth-form_controls">
                        <button class="btn btn-agency-cancel btn-cancel">Trở lại</button>
                        <button class="btn btn--primary">Đồng ý </button>
>>>>>>> e98624b6f35662c542e08b26b9e70841373c220a
                    </div>
                </form>

            </div>
        </div>

        <div class="modal modal_edit-agency">
            <div class="modal_overlay"></div>
            <div class="modal_body">


                <form action="" autocomplete="off" method="post">
                    <div class="auth-form_min auth-form_min-add">
                        <div class="auth-form_header">
                            <h3 class="auth-form_heading">Thêm loại đại lý</h3>
                        </div>
                        <div class="auth-form_body">
                            <div class="auth-form_body-wrap">
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Tên loại đại lý</span>
                                    <i class="auth-form_info-icon ten-hang fa fa-info-circle"></i>
                                    <input type="text" name="name_category" class="auth-form_input" id="nameCateAdd" required placeholder="tên nhóm hàng">
                                </div>
                            </div>

                        </div>
                        <div class="auth-form_controls">
                            <button class="btn btn-add-category-cancel" type="reset">Huỷ bỏ</button>
                            <button class="btn btn--primary btn-add-category" type="submit">Lưu</button>
                        </div>
                    </div>
                </form>
                <form action="" autocomplete="off" method="post">
                    <div class="auth-form_min auth-form_min-add">
                        <div class="auth-form_header">
                            <h3 class="auth-form_heading">Thêm khu vực</h3>
                        </div>
                        <div class="auth-form_body">
                            <div class="auth-form_body-wrap">
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Tên khu vực</span>
                                    <i class="auth-form_info-icon ten-hang fa fa-info-circle"></i>
                                    <input type="text" name="name_category" class="auth-form_input" id="nameCateAdd" required placeholder="tên nhóm hàng">
                                </div>
                            </div>

                        </div>
                        <div class="auth-form_controls">
                            <button class="btn btn-add-category-cancel" type="reset">Huỷ bỏ</button>
                            <button class="btn btn--primary btn-add-category" type="submit">Lưu</button>
                        </div>
                    </div>
                </form>
                <form action="/hanghoa/edit-cate" id="edit-cate-form" autocomplete="off" method="post">
                    <div class="auth-form_min auth-form_min-edit">
                        <div class="auth-form_header">
                            <h3 class="auth-form_heading">Sửa loại đại lý</h3>
                        </div>
                        <div class="auth-form_body">
                            <div class="auth-form_body-wrap">
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Tên loại đại lý</span>
                                    <i class="auth-form_info-icon ten-hang fa fa-info-circle"></i>
                                    <input type="text" name="name_category" id="nameCateUpdate" class="auth-form_input edit-name-cate" required placeholder="tên nhóm hàng">
                                </div>
                            </div>
                        </div>
                        <div class="auth-form_controls-edit">
                            <button class="btn btn-edit-category-cancel" type="reset">Huỷ bỏ</button>
                            <button class="btn btn--primary btn-edit-category" type="submit ">Lưu</button>
                            <a class="btn btn--delete " href="/hanghoa/deleteCate">Xoá</a>
                        </div>
                    </div>
<<<<<<< HEAD
                </form>
                <form action="/hanghoa/edit-cate" id="edit-cate-form" autocomplete="off" method="post">
                    <div class="auth-form_min auth-form_min-edit">
                        <div class="auth-form_header">
                            <h3 class="auth-form_heading">Sửa khu vực</h3>
                        </div>
                        <div class="auth-form_body">
                            <div class="auth-form_body-wrap">
                                <div class="auth-form_group">
                                    <span class="auth-form_info">Tên khu vực</span>
                                    <i class="auth-form_info-icon ten-hang fa fa-info-circle"></i>
                                    <input type="text" name="name_category" id="nameCateUpdate" class="auth-form_input edit-name-cate" required placeholder="tên nhóm hàng">
                                </div>
                            </div>
                        </div>
                        <div class="auth-form_controls-edit">
                            <button class="btn btn-edit-category-cancel" type="reset">Huỷ bỏ</button>
                            <button class="btn btn--primary btn-edit-category" type="submit ">Lưu</button>
                            <a class="btn btn--delete " href="/hanghoa/deleteCate">Xoá</a>
                        </div>
=======

                    <div class="auth-form_controls">
                        <button class="btn btn-agency-cancel btn-cancel">Trở lại</button>
                        <button class="btn btn--primary">Đồng ý</button>
>>>>>>> e98624b6f35662c542e08b26b9e70841373c220a
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script src="../resource/js/daily.js"></script>
</body>

</html>