<%- include('../views/header.ejs') %>
    <div class="container">
        <div class="grid">
            <div class="grid__row body_content">
                <div class="grid__column-2">
                    <nav class="agency_navbar">
                        <h1 class="agency_heading">ĐẠI LÝ</h1>
                        <form action="/daily/boloc" method="post">
                            <div class="agency_group">
                                <h3 class="agency_group-header">Bộ lọc</h3>
                                <div class="select-wrap">
                                    <label for="agency_group-list" class="agency_group-label">nhóm:</label>
                                    <br>
                                    <select class="agency-list" name="group_agency" id="agency_group-list">
                                            <% for(var i = 0; i < groupA.length;i++) {%>
                                                <option value="<%= groupA[i].name_groupAgency %>"><%= groupA[i].name_groupAgency %></option>
                                                <% } %>
                                        </select>
                                </div>

                                <div class="select-wrap">
                                    <label for="agency_group-place" class="agency_group-label">Khu vực:</label>
                                    <br>
                                    <select class="agency-list" name="area_agency" id="agency_group-place">
                                            <% for(var i = 0; i < areaA.length;i++) {%>
                                                <option value="<%= areaA[i].name_areaAgency %>"><%= areaA[i].name_areaAgency %></option>
                                                <% } %>
                                        </select>
                                </div>
                                <button class="confirm_address">
                                        lọc
                                    </button>
                            </div>
                        </form>

                        <div class="agency_group">
                            <div class="category-wrap-item">
                                <h3 class="category-list_header">Nhóm đại lý</h3>
                                <div class="add-group-agency">
                                    <i class="auth-form_plus-icon fas fa-plus"></i>
                                </div>
                            </div>

                            <ul class="category-list">
                                <% for(var i = 0; i < groupA.length;i++) {%>
                                    <li class="category-item">
                                        <a href="/daily/group/<%= groupA[i].name_groupAgency %>" class="category-item_link">
                                            <%= groupA[i].name_groupAgency %>
                                        </a>
                                        <i data-id="<%= groupA[i]._id %>" class="category-item-icon edit-group-agency far fa-edit"></i>
                                    </li>
                                    <% } %>


                            </ul>
                        </div>
                        <div class="agency_group">
                            <div class="category-wrap-item">
                                <h3 class="category-list_header">Khu vực</h3>
                                <div class="add-area-agency">
                                    <i class="auth-form_plus-icon fas fa-plus "></i>
                                </div>
                            </div>

                            <ul class="category-list">
                                <% for(var i = 0; i < areaA.length;i++) {%>
                                    <li class="category-item">
                                        <a href="/daily/area/<%= areaA[i].name_areaAgency %>" class="category-item_link">
                                            <%= areaA[i].name_areaAgency %>
                                        </a>
                                        <i data-id="<%= areaA[i]._id %>" class="category-item-icon far fa-edit edit-area-agency"></i>
                                    </li>
                                    <% } %>

                            </ul>
                        </div>
                    </nav>


                </div>
                <div class="grid__column-10">
                    <div class="search">
                        <form action="/daily/search" method="post">
                            <div class="search-wrap">
                                <input type="text" class="search-input" name="searchAgencyByID" placeholder="Tìm tên, mã Đại lý">
                                <button class="reset-search-btn" type="reset">
                                        <i class="search-btn-icon-refresh fas fa-times"></i>
                                </button>
                                <button class="search-btn" type="submit">
                                    <i class="search-btn-icon fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                        <button class="btn btn--primary btn-add">Thêm mới</button>

                    </div>
                    <div class="grid__row">
                        <div class="grid__column-10-1">
                            <table class="table_container">
                                <thead>
                                    <tr class="table-container_header">
                                        <th class="table-container_header-item code-agency">Mã Đại lý</th>
                                        <th class="table-container_header-item name-agency">Tên Đại lý</th>
                                        <th class="table-container_header-item phone-agency">Điện thoại</th>
                                        <th class="table-container_header-item district-agency">Quận</th>
                                        <th class="table-container_header-item group-agency">Nhóm Đại lý</th>
                                        <th class="table-container_header-item address-agency">Địa chỉ</th>
                                        <th class="table-container_header-item date-agency">Ngày nhận</th>
                                        <th class="table-container_header-item debt-agency">Công nợ</th>
                                        <th class="table-container_header-item edit-agency"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i = 0; i < agency.length; i++){ %>
                                        <tr class="table-container_body table-container_body_between">
                                            <td class="table-container_body-item">
                                                <%= agency[i].id_agency %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= agency[i].name_agency %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= agency[i].phone_agency %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= agency[i].area_agency %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= agency[i].group_agency %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= agency[i].address_agency %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= agency[i].date_agency %>
                                            </td>
                                            <td class="table-container_body-item">
                                                <%= agency[i].debt_agency %>
                                            </td>
                                            <td class="table-container_body-edit">
                                                <button class="edit-agency-btn" data-id="<%= agency[i]._id %>">
                                                          Sửa
                                                    </button>
                                                <button class="delete-agency-btn">
                                                            <a href="/daily/xoa-daily/<%= agency[i]._id %>" class="editPro delete-product">Xoá</a>
                                                        </button>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="alert">
                        <% if (errors){ %>
                            <% errors.forEach(function(e){ %>
                                <div class="alert_errors">
                                    <%= e.msg %>
                                </div>
                                <%});%>
                                    <% } %>

                                        <% if(message) {%>
                                            <div class="alert_success">
                                                <%= message %>
                                            </div>
                                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal_edit-agency">
        <div class="modal_overlay"></div>
        <div class="modal_body">
            <form action="/daily/them-daily" method="post">
                <div class="auth-form" id="auth-form_add_agency">
                    <div class="auth-form_header">
                        <h1 class="auth-form_heading">Thêm Đại Lý</h1>
                    </div>
                    <div class="auth-form_body">
                        <div class="auth-form_body-left">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Mã Đại lý</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="number" class="auth-form_input" name="id_agency" placeholder="Mã Đại lý" required>
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Tên Đại lý</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input" name="name_agency" placeholder="Tên Đại lý" required>
                            </div>

                            <div class="auth_agency_selection">
                                <div class="auth-form_group">
                                    <label for="auth-form_group" class="auth-form_info">Nhóm</label>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <select class="auth_agency-group" name="group_agency" required>
                                            <% for(var i = 0; i < groupA.length;i++) {%>
                                                <option value="<%= groupA[i].name_groupAgency %>"><%= groupA[i].name_groupAgency %></option>
                                                <% } %>
                                        </select>
                                </div>

                                <div class="auth-form_group">
                                    <label for="auth_district" class="auth-form_info">Khu vực</label>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <select class="auth_agency-district" name="area_agency" required>
                                            <% for(var i = 0; i < areaA.length;i++) {%>
                                                <option value="<%= areaA[i].name_areaAgency %>"><%= areaA[i].name_areaAgency %></option>
                                                <% } %>
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div class="auth-form_body-right">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Số điện thoại</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="number" class="auth-form_input auth_agency_number" name="phone_agency" placeholder="" required>
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Địa chỉ</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input" name="address_agency" placeholder="" required>
                            </div>
                            <div class="auth-form_group">
                                <label for="auth_date" class="auth-form_info">Ngày tiếp nhận</label>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="date" class="auth-form_input auth_agency_date" name="date_agency" placeholder="2000-05-11" required>
                            </div>
                        </div>
                    </div>

                    <div class="auth-form_controls">
                        <button class="btn btn-agency-cancel" type="reset">Trở lại</button>
                        <button class="btn btn--primary" type="submit">Đồng ý </button>
                    </div>
                </div>
            </form>
            <form id="form-edit-agency" action="" method="post">
                <div class="auth-form" id="auth-form_edit-agency">
                    <div class="auth-form_header">
                        <h1 class="auth-form_heading">Sửa Đại Lý</h1>
                    </div>
                    <div class="auth-form_body">
                        <div class="auth-form_body-left">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Mã Đại lý</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="number" class="auth-form_input" id="auth_agency_code" name="id_agency" placeholder="Mã Đại lý" readonly>
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Tên Đại lý</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input" id="auth_agency-name" name="name_agency" placeholder="Tên Đại lý" required>
                            </div>

                            <div class="auth_agency_selection">
                                <div class="auth-form_group">
                                    <label for="auth-form_group" class="auth-form_info">Nhóm</label>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <select class="auth_agency-group" name="group_agency" id="auth_group" required>
                                            <% for(var i = 0; i < groupA.length;i++) {%>
                                                <option value="<%= groupA[i].name_groupAgency %>"><%= groupA[i].name_groupAgency %></option>
                                                <% } %>
                                        </select>
                                </div>

                                <div class="auth-form_group">
                                    <label for="auth_district" class="auth-form_info">Khu vực</label>
                                    <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                    <select class="auth_agency-district" name="area_agency" id="auth_district" required>
                                            <% for(var i = 0; i < areaA.length;i++) {%>
                                                <option value="<%= areaA[i].name_areaAgency %>"><%= areaA[i].name_areaAgency %></option>
                                                <% } %>
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div class="auth-form_body-right">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Số điện thoại</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="number" class="auth-form_input" id="auth_agency_number" name="phone_agency" placeholder="" required>
                            </div>
                            <div class="auth-form_group">
                                <span class="auth-form_info">Địa chỉ</span>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="text" class="auth-form_input" id="auth_agency_address" name="address_agency" placeholder="" required>
                            </div>
                            <div class="auth-form_group">
                                <label for="auth_date" class="auth-form_info">Ngày tiếp nhận</label>
                                <i class="auth-form_info-icon  fa fa-info-circle"></i>
                                <input type="date" class="auth-form_input auth_agency_date" name="date_agency" placeholder="2000-05-11" id="auth_date" required>
                            </div>
                        </div>
                    </div>

                    <div class="auth-form_controls">
                        <button class="btn btn-agency-cancel" type="reset">Trở lại</button>
                        <button class="btn btn--primary" type="submit">Đồng ý </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="modal modal_edit-group">
        <div class="modal_overlay"></div>
        <div class="modal_body">
            <form action="/daily/them-group" autocomplete="off" method="post">
                <div class="auth-form_min" id="auth-form_add-group-agency">
                    <div class="auth-form_header">
                        <h3 class="auth-form_heading">Thêm loại đại lý</h3>
                    </div>
                    <div class="auth-form_body">
                        <div class="auth-form_body-wrap">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Tên loại đại lý</span>
                                <i class="auth-form_info-icon ten-hang fa fa-info-circle"></i>
                                <input type="text" name="name_groupAgency" class="auth-form_input" id="nameGroupAdd" required placeholder="tên nhóm hàng">
                            </div>
                        </div>
                    </div>
                    <div class="auth-form_controls">
                        <button class="btn btn-min-cancel" type="reset">Huỷ bỏ</button>
                        <button class="btn btn--primary" type="submit">Lưu</button>
                    </div>
                </div>
            </form>
            <form action="/daily/them-area" autocomplete="off" method="post">
                <div class="auth-form_min" id="auth-form_add-area-agency">
                    <div class="auth-form_header">
                        <h3 class="auth-form_heading">Thêm khu vực</h3>
                    </div>
                    <div class="auth-form_body">
                        <div class="auth-form_body-wrap">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Tên khu vực</span>
                                <i class="auth-form_info-icon ten-hang fa fa-info-circle"></i>
                                <input type="text" name="name_areaAgency" class="auth-form_input" id="nameAreaAdd" required placeholder="tên nhóm hàng">
                            </div>
                        </div>

                    </div>
                    <div class="auth-form_controls">
                        <button class="btn btn-min-cancel" type="reset">Huỷ bỏ</button>
                        <button class="btn btn--primary btn-add-category" type="submit">Lưu</button>
                    </div>
                </div>
            </form>
            <form action="" id="edit-group-form" autocomplete="off" method="post">
                <div class="auth-form_min" id="auth-form_edit-group-agency">
                    <div class="auth-form_header">
                        <h3 class="auth-form_heading">Sửa loại đại lý</h3>
                    </div>
                    <div class="auth-form_body">
                        <div class="auth-form_body-wrap">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Tên loại đại lý</span>
                                <i class="auth-form_info-icon ten-hang fa fa-info-circle"></i>
                                <input type="text" name="name_groupAgency" id="nameGroupEdit" class="auth-form_input edit-name-cate" required placeholder="tên nhóm hàng">
                            </div>
                        </div>
                    </div>
                    <div class="auth-form_controls-edit">
                        <button class="btn btn-min-cancel" type="reset">Huỷ bỏ</button>
                        <button class="btn btn--primary btn-edit-category" type="submit ">Lưu</button>
                        <a class="btn btn--delete" href="">Xoá</a>
                    </div>
                </div>
            </form>
            <form action="" id="edit-area-form" autocomplete="off" method="post">
                <div class="auth-form_min" id="auth-form_edit-area-agency">
                    <div class="auth-form_header">
                        <h3 class="auth-form_heading">Sửa khu vực</h3>
                    </div>
                    <div class="auth-form_body">
                        <div class="auth-form_body-wrap">
                            <div class="auth-form_group">
                                <span class="auth-form_info">Tên khu vực</span>
                                <i class="auth-form_info-icon ten-hang fa fa-info-circle"></i>
                                <input type="text" name="name_areaAgency" id="nameAreaEdit" class="auth-form_input edit-name-cate" required placeholder="tên nhóm hàng">
                            </div>
                        </div>
                    </div>
                    <div class="auth-form_controls-edit">
                        <button class="btn btn-min-cancel" type="reset">Huỷ bỏ</button>
                        <button class="btn btn--primary btn-edit-category" type="submit ">Lưu</button>
                        <a class="btn btn--delete " href="">Xoá</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </main>
    <script>
        $(document).ready(() => {
            $('#agency').css('background-color', '#0078b6');
        })
    </script>
    <script src="../resource/js/daily.js"></script>
    </body>

    </html>